ul {
  list-style: none;
  padding: 0;
  width: 300px;
  margin: auto;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
}

button {
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
}

button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
